<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Systematic Online Living Evidence Summaries (SOLES) are a new approach to evidence synthesis. They harness automation technologies 
          including text-mining methods and artificial intelligence to collect, curate, and visualise available published evidence in a field of research.
          Learn more about SOLES <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10220429/" style="color: white;">here</a>.</p>
      </div>
      <div class="col-lg-4">
        <p> This web page helps you navigate to our different SOLES platforms. Click a platform of interest to find out more! </p>
      </div>
    </div>
  </div>
</section>
