<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About SOLES</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Systematic Online Living Evidence Summaries (SOLES) are a new approach to evidence synthesis. They harness automation technologies 
          including text-mining methods and artificial intelligence to collect, curate, and visualise available published evidence in a field 
          of research.</p>
        <br>
        <p>SOLES are developed by the CAMARADES research group. The core SOLES Team includes: <a href="https://orcid.org/0000-0003-0180-7343">Kaitlyn Hair</a>, Sean Smith, <a href="https://orcid.org/0000-0002-3161-1395">Alexandra Bannach-Brown</a>, <a href="https://orcid.org/0000-0001-8199-0234">Maria Economou</a>, and <a href="https://orcid.org/0000-0002-8100-7508">Emma Wilson</a>.</p>
      </div>
      <div class="col-lg-4">
        <p>The code underlying our SOLES workflow is available under an <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a> on GitHub.</p>
        <br>
        <p><strong>Cite:</strong> Hair, K., Wilson, E., Wong, C., Tsang, A., Macleod, M., & Bannach-Brown, A. (2023). Systematic online living evidence summaries: 
          emerging tools to accelerate evidence synthesis. Clinical science (London, England : 1979), 137(10), 773–784. https://doi.org/10.1042/CS20220494</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://doi.org/10.1042/cs20220494" class="btn btn-lg btn-outline">
          <i class="fa fa-book"></i> Read our SOLES paper
        </a>
        <a href="https://doi.org/10.1042/cs20220494" class="btn btn-lg btn-outline">
          <i class="fa fa-code"></i> Download the SOLES code
        </a>
      </div>
    </div>
  </div>
</section>
